.link {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-size: 18px;
}

.author {
  font-size: 14px;
  color: gray;
}
