.main_chat_room_container {
  margin: 8px 0;
  text-align: center;
}

.button {
  margin: 0 auto;
  padding: 8px 16px;
  display: inline-block;
  font-weight: 500;
  color: #fff;
  background-color: #4a90e2;
  border: none;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button .title {
  display: inline-block;
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button:hover {
  background: #357abd;
}

.button:active {
  background-color: #003f7f;
}
